$gray: #f4f5f6;
$purple: #8b80f9;
$light-purple: #a3a7e4;
$black: #606c76;
$orange: #fc7753;
$yellow: #f6c523;
$font-color: $black;
$font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
  Helvetica, Arial, sans-serif;
