@import './_config.scss';

pre {
  &[class*='language-'] {
    background: #b6e1e0;
    // background: #9cd3d3;
    // background: #a3a7e4;
    border-radius: 0;
    overflow: inherit;
    // border-left: 4px solid $purple;
  }
}
