@import './config.scss';

pre {
  &[class*='language-'] {
    background: #b6e1e0;
    // background: #9cd3d3;
    // background: #a3a7e4;
    border-radius: 0;
    overflow: inherit;
    // border-left: 4px solid $purple;
  }
}

section {
  h4 {
    text-align: left;
    position: relative;
    margin: 5px 0;
    margin-left: 16px;
    &::before {
      content: '#';
      display: inline-block;
      position: absolute;
      left: 0;
      margin-left: -16px;
      color: $purple;
    }
  }
}
