$primary-color: #8b80f9;
$font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
  Helvetica, Arial, sans-serif;
$maskIdx: 100;
$modalIdx: 101;
